<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/main/webapp/resources/css/terms.css">
    <title>안전한 직거래 방법</title>
</head>
<body>

    <div class="container">
        <nav>
            <section class="logo">
                <a href="http://192.168.120.16:5500/SemiDesign/main.html">
                    <img src="/src/main/webapp/resources/images/logo.png">
                </a>
            </section>
            
            <section class="menu">

               

            </section>
        </nav>

        <main id="ajb-main">
            <img src="/src/main/webapp/resources/images/ajb.png" alt="안전한 직거래 방법">

        </main>

       

        
        

        
        
    </div>
    
</body>
</html>