<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>terms of service</title>
    <link rel="stylesheet" href="/src/main/webapp/resources/css/terms.css">
</head>
<body>
    <div class="container">
        <nav>
            <section class="logo">
                <a href="http://192.168.120.16:5500/SemiDesign/main.html">
                    <img src="/src/main/webapp/resources/images/logo.png">
                </a>
            </section>
            
            <section class="menu">

               

            </section>
        </nav>

        <main>
            <form class="contract" action="">
                <h1>이용 약관</h1>
                <div class="text">
                    <p>[이용 약관]
                    제1조 (목적)
                    1.1 이 약관은 ["꼬집"] (이하 "회사" 또는 "서비스 제공자"라 함)가 제공하는 인터넷 홈페이지 및 관련 서비스(이하 "서비스"라 함)의 이용조건과 회원의 권리, 의무, 책임사항 및 기타 필요한 사항을 규정하는 것을 목적으로 합니다.
                    
                    제2조 (정의)
                    2.1 "회원"이라 함은 회사의 서비스에 가입하고 이 약관에 동의한 개인 또는 단체를 말합니다.
                    
                    제3조 (이용계약의 성립)
                    3.1 회사의 서비스 이용계약은 회원이 제공하는 개인정보를 등록하고, 이 약관을 읽고 동의한 후 회원 가입 버튼을 클릭함으로써 성립됩니다.
                    
                    제4조 (서비스 제공 및 변경)
                    4.1 회사는 회원에게 서비스를 제공하며, 필요한 경우 사전 고지 후 서비스 내용을 변경할 수 있습니다.
                    
                    제5조 (회원의 의무)
                    5.1 회원은 서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다.
                    
                    5.1.1 타인의 정보를 도용하거나 부정한 목적으로 이용하는 행위
                    5.1.2 서비스의 안정성, 원활한 운영을 방해하는 행위
                    5.1.3 회사의 저작권 또는 타인의 저작권을 침해하는 행위
                    5.1.4 기타 법률 또는 서비스 정책에 위배되는 행위
                    제6조 (개인정보보호)
                    6.1 회사는 회원의 개인정보를 보호하기 위해 노력하며, 관련 법률 및 회사의 개인정보 처리 방침에 따라 처리합니다.
                    
                    제7조 (서비스 이용료)
                    7.1 회사의 서비스는 기본적으로 무료로 제공되나, 일부 유료 서비스가 있을 수 있으며, 이 경우에는 별도로 고지하고 이용약관을 통해 정합니다.
                    
                    제8조 (서비스의 중단 및 해지)
                    8.1 회원은 언제든지 회사에게 서비스 해지를 요청할 수 있습니다.
                    8.2 회사는 회원이 이 약관을 위반하거나 기타 부적절한 행동을 할 경우 서비스 이용을 중단하거나 해지할 수 있습니다.
                    
                    제9조 (면책조항)
                    9.1 회사는 천재지변, 정전, 서비스용 설비의 장애, 기술적 문제 등 불가항력적인 사유로 인해 서비스가 제공되지 않는 경우에는 책임을 지지 않습니다.
                    
                    제10조 (분쟁해결)
                    10.1 회사와 회원 간 발생하는 분쟁에 대한 관할법원은 [관할법원명]으로 합니다.
                    
                    제11조 (약관의 변경)
                    11.1 회사는 필요한 경우 본 약관을 수정할 수 있으며, 수정 사항은 홈페이지를 통해 공지하고 적용일자 [수정된 약관의 적용일]로부터 효력을 발생합니다.
                    
                    제12조 (유의사항)
                    12.1 본 약관을 동의함으로써 회원은 약관의 내용을 숙지하고 준수해야 합니다.
                    12.2 회사와 회원 간에는 기타 이 약관에서 정하지 않은 사항에 대한 서면 합의가 있을 경우 그 합의사항이 우선합니다.
                    
                    본 이용약관은 회원가입 시에 확인하고 동의하는 것이 원칙이며, 회원들이 서비스를 이용할 때 약관을 준수해야 합니다. 약관 내용의 이해와 동의를 위해 면밀한 검토를 권장합니다.
                    </p>
                </div>
                
            </form>

            <form class="contract">
                <h1>개인정보 처리방침</h1>
                <div class="text">
                    <p>[개인정보 처리방침]

                    제1조 (개인정보 수집목적)
                    1.1 "꼬집" (이하 "회사" 또는 "서비스 제공자"라 함)는 다음과 같은 목적으로 개인정보를 수집합니다.
                       - 회원 가입 및 관리
                       - 서비스 제공 및 운영
                       - 고객 문의 처리
                       - 서비스 개선 및 개인맞춤 서비스 제공
                       - 법령 준수 및 민원처리
                    
                    제2조 (수집하는 개인정보 항목)
                    2.1 회사는 다음과 같은 개인정보 항목을 수집할 수 있습니다.
                       - 성명
                       - 전자메일 주소
                       - 연락처 정보
                       - 아이디 및 비밀번호
                       - 서비스 이용 기록
                    
                    제3조 (개인정보의 보유 및 이용기간)
                    3.1 회사는 개인정보를 수집한 목적 달성 시까지 보유하며, 보유기간은 다음과 같습니다.
                       - 회원정보: 회원탈퇴 시까지
                       - 서비스 이용기록: 1년
                    
                    제4조 (개인정보의 제3자 제공)
                    4.1 회사는 개인정보를 제3자에게 제공하지 않습니다. 단, 아래의 경우에는 제외됩니다.
                       - 회원 동의가 있는 경우
                       - 법령의 규정에 따라 제공이 필요한 경우
                    
                    제5조 (개인정보의 파기)
                    5.1 개인정보 수집 및 이용목적이 달성된 경우, 회사는 해당 정보를 안전하게 파기합니다.
                    5.2 회사는 개인정보 파기 시점 및 방법을 별도의 내부 정책에 따라 정하고 시행합니다.
                    
                    제6조 (개인정보의 안전성 확보조치)
                    6.1 회사는 개인정보 보호를 위해 다음과 같은 조치를 취합니다.
                       - 개인정보 암호화
                       - 해킹 및 데이터 유출 대응 시스템 운영
                       - 접근 제한 및 모니터링
                    
                    제7조 (개인정보 주체의 권리)
                    7.1 개인정보 주체는 회사에 대해 다음과 같은 권리를 행사할 수 있습니다.
                       - 개인정보 열람, 정정, 삭제, 처리정지 요구
                       - 개인정보 이전 제한
                    
                    제8조 (개인정보 보호책임자)
                    8.1 회사는 개인정보 보호책임자를 지정하여 개인정보 처리에 관한 민원처리 및 피해구제를 위한 역할을 수행합니다. 개인정보 보호책임자의 연락처는 다음과 같습니다.
                    
                       - 이름: [보호책임자 이름]
                       - 전자메일: [보호책임자 이메일]
                       - 연락처: [보호책임자 연락처]
                    
                    제9조 (개인정보 처리방침 변경)
                    9.1 회사는 필요한 경우 개인정보 처리방침을 변경할 수 있으며, 변경 사항은 홈페이지를 통해 공지하고 적용일자 [수정된 처리방침의 적용일]로부터 효력을 발생합니다.
                    
                    본 개인정보 처리방침은 개인정보 보호를 위해 회사가 지키는 원칙을 설명하고 있습니다. 회원들은 개인정보 처리방침을 검토하고 동의하여 개인정보의 보호를 위한 중요성을 인식해야 합니다.
                </p>
                    


                </div>


            </form>

            <form class="contract">
                <h1>매물 관리 규정</h1>
                <div class="text">
                    <p>[매물 관리규정]

                    제1조 (목적)
                    1.1 본 매물 관리규정은 "꼬집" (이하 "회사" 또는 "서비스 제공자"라 함)가 제공하는 부동산 원룸/투룸 월세/전세 직거래 플랫폼(이하 "서비스")을 통해 부동산 매물을 등록하고 이용하는 사용자(이하 "사용자" 또는 "매물 등록자"라 함)와 회사 간의 권리, 의무, 책임사항 및 서비스 이용에 필요한 기타 사항을 규정하는 것을 목적으로 합니다.
                    
                    제2조 (매물 등록)
                    2.1 매물 등록자는 서비스를 통해 정확하고 실제 정보를 제공하여 부동산 매물을 등록해야 합니다.
                    2.2 허위 정보 또는 타인의 매물 정보를 부정하게 등록하는 행위는 금지되며, 이로 인한 불이익은 등록자에게 있습니다.
                    
                    제3조 (매물 정보의 정확성)
                    3.1 매물 등록자는 자신이 등록한 매물 정보가 변경되거나 허위 정보임을 인지한 경우, 즉시 수정해야 합니다.
                    3.2 회사는 등록된 매물 정보의 정확성을 검증하며, 정확하지 않은 정보가 발견될 경우 수정을 요청할 수 있습니다.
                    
                    제4조 (사용자 커뮤니케이션)
                    4.1 사용자 간의 커뮤니케이션은 공공질서 및 미풍양속을 위반하지 않는 선에서 이루어져야 합니다.
                    4.2 혐오 발언, 인종 차별, 성별 차별, 폭력적 언행, 불법 홍보 등 부적절한 커뮤니케이션은 엄격히 금지되며, 이를 확인한 경우 해당 사용자에 대한 조치가 취해질 수 있습니다.
                    
                    제5조 (거래 절차)
                    5.1 회사는 사용자 간의 거래와 관련하여 중개 역할을 하지 않으며, 거래 관련 분쟁에 대한 책임을 부담하지 않습니다.
                    5.2 사용자 간의 거래는 서비스 외부에서 이루어지며, 이에 따른 모든 책임은 거래 당사자에게 있습니다.
                    
                    제6조 (서비스 이용료)
                    6.1 회사는 기본적인 매물 등록은 무료로 제공할 수 있으나, 일부 유료 옵션을 제공할 수 있으며, 이 경우 요금과 관련한 정보는 사전에 공지됩니다.
                    
                    제7조 (매물 삭제 및 제한)
                    7.1 회사는 부적절한 매물 정보 또는 약관 위반 사항을 포함한 매물 정보를 삭제하거나 해당 사용자의 서비스 이용을 제한할 수 있습니다.
                    
                    제8조 (분쟁 해결)
                    8.1 서비스 이용 중 발생하는 분쟁은 당사자 간 협의를 통해 해결해야 하며, 이때 회사는 중재자 역할을 하지 않습니다.
                    
                    제9조 (매물 관리규정의 변경)
                    9.1 회사는 필요한 경우 매물 관리규정을 변경할 수 있으며, 변경 사항은 서비스 내 공지사항을 통해 통보됩니다.
                    9.2 변경된 매물 관리규정은 공지된 날짜로부터 효력을 발생합니다.
                    
                    본 매물 관리규정은 서비스를 원활하게 이용하기 위한 중요한 규칙이므로, 사용자와 매물 등록자 모두가 엄격히 준수해야 합니다.
                </p>
                </div>
            </form>


        </main>

       

        
        

        
        
    </div>


</body>
</html>