<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/src/main/webapp/resources/css/community_list_mine copy.css">

    <title>내가 쓴 글 목록</title>    
</head>
<body>
    <div class="container">
        <nav>
            <section class="logo">
                <a href="http://192.168.120.16:5500/SemiDesign/main.html">
                    <img src="/src/main/webapp/resources/images/logo.png">
                </a>
            </section>

            <section class="menu">
                <div id="map">
                    지도
                </div>
                <div id="favorites">
                    관심목록
                </div>
                <div id="roomup">
                    방내놓기
                </div>
                <div id="board">
                    게시판
                </div>
                <div id="mypage">
                    내정보
                </div>
            </section>
        </nav>

        <main>
            <div class="leftmenu">
                <div>내가 쓴 글</div>
            </div>
            <div class="content">
                <div class="menutitle">
                    내가 쓴 글 목록
                </div>
                <div class="main-content">
                    <div class="main-content-title">
                        <div id="content-checkbox-title"></div>
                        <div id="content-number-title">번호</div>
                        <div id="content-title-title">제목</div>
                        <div id="content-date-title">등록일</div>
                    </div>


                    <!-- <div id="checkbox">
                        <div></div>
                        <div>
                            <input type="checkbox" id="myCheckbox">
                        </div>
                        <div>
                            <input type="checkbox" id="myCheckbox">
                        </div>
                        <div>
                            <input type="checkbox" id="myCheckbox">
                        </div>
                        <div>
                            <input type="checkbox" id="myCheckbox">
                        </div>
                        <div>
                            <input type="checkbox" id="myCheckbox">
                        </div>             
                    </div>
                    <div id="content-number">
                        <div id="content-number-title">번호</div>
                        <div>00001</div>
                        <div>00002</div>
                        <div>00003</div>
                        <div>00004</div>
                        <div>00005</div>
                    </div>
                    <div id="content-title">
                        <div id="content-title-title">제목</div>
                        <div>글 제목 1</div>
                        <div>글 제목 2</div>
                        <div>글 제목 3</div>
                        <div>글 제목 4</div>
                        <div>글 제목 5</div>
                    </div>
                    <div id="content-date">
                        <div id="content-date-title">등록일</div>
                        <div>2023-09-22</div>
                        <div>2023-09-22</div>
                        <div>2023-09-22</div>
                        <div>2023-09-22</div>
                        <div>2023-09-22</div>
                    </div>                     -->
                </div>
                <div class="main-content-bottom">
                    <button>선택삭제</button>
                </div>
            </div>
            <div class="right">
                <button id="bottom-nav-top">위로</button>
                <button id="bottom-nav-list">목록</button>
                <img src="/resources/images/chat_icon_final.png" id="chat-icon">
            </div>
        </main>
    </div>
    
</body>
</html>