* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.5px solid darkblue; */
}

.container{
    width: 100vw;
    height: 100vh;
}


/* nav */

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 80px;
}

.logo > a > img {
    height: 65px;
}

.menu {
    background-color: #B96BC6;
    width: 90vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    height: 80px;
    color: white;
    position: sticky;
    right: 0;
    min-width: 1000px;
}

.menu > div {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: white;
    display: flex;
}


/* main */

main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.leftmenu{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 16%;
    font-size: 20px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;

    width: 68%;
    height: 100%;
}

.right{
    width: 16%;
    height: 100%;
}


/* main - leftmenu */

.leftmenu {
    margin-top: 180px;
}

.leftmenu > a{
    margin-bottom: 40px;
}


/* main - content */

.menutitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: bold;

    height: 10%;
    padding-top: 18px;
}

.main-content{
    height: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 50px;
}

.pagination-area{
	height: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*********************/

.main-content-title{
    display: flex;
    justify-content: center;
    align-items: start;

    font-size: 18px;
    font-weight: bold;

    width: 100%;
    height: 10%;
    
    margin : 50px;
}

.main-content-content{
    width: 100%;
    height: 90%;
}

/*********************/

.main-content-title > div{    
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-title > div:first-child{
    width: 10%;
    margin-right: 10px;

}

.main-content-title > div:nth-child(2){
    width: 10%;
    margin-right: 10px;
}

.main-content-title > div:nth-child(3){
    width: 55%;
    margin-right: 10px;
}

.main-content-title > div:nth-child(4){
    width: 12%;
    margin-right: 10px;
}

.main-content-title > div:nth-child(5){
    width: 10%;
}


/**********************/

.main-content-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.main-content-real{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-content div,
.main-content-content a{
    font-size: 16px;
    margin-bottom: 10px;
}


#content-number,
#content-writer,
#content-date,
#content-hits{
    border: none;
    border-radius: 5px;
    height: 35px;
    margin: 0 5px 10px 5px;
}

#content-title{
    border: 0.5px solid black;
    border-radius: 5px;
    height: 35px;
    margin: 0 5px 10px 5px;
}

#content-number{
    width: 100%;
    background-color: rgba(217, 217, 217, 0.44);

    display: flex;
    align-items: center;
    justify-content: center;
}

#content-writer{
    width: 100%; 
    background-color: rgba(217, 217, 217, 0.44);

    display: flex;
    align-items: center;
    justify-content: center;
}

#content-title{
    width: 100%;

    display: flex;
    align-items: center;

    padding-left: 10px;
}

#content-date{
    width: 100%;
    background-color: rgba(217, 217, 217, 0.44);

    display: flex;
    align-items: center;
    justify-content: center;
}

#content-hits{
    width: 100%;
    background-color: rgba(217, 217, 217, 0.44);

    display: flex;
    align-items: center;
    justify-content: center;
}


/* main - content - search */

.search{
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
}

#search-type{
    height: 35px;
    padding: 5px 10px;
    margin: 0 5px;
}

#search-word{
    height: 35px;
    width: 500px;
    padding: 5px 10px;
    margin: 0 5px;
}

#writing{
    height: 35px;
    padding: 5px 10px;
    margin: 0 5px;

    border-radius: 5px;
    background-color: #AC47FC;
    border: none;
}

#writing > a{
    text-decoration: none;
    color: white;
}

.index > button{
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/* main - content - index */


.pagination{
	list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
	height: 10%;
}

.pagination li{
    width: 20px;
    height: 20px;
    margin: 0 5px;
    text-align: center;
    font-size: 12px;   
}

.pagination a{
    display: block;
    width: 100%;
    height: 100%;
}

.current{
    font-weight: bold;
    background-color: #455ba8;
    border-radius: 50%s;
    color: white !important;
    letter-spacing: 0 !important;
}


/* main-content-right */
.right{
    display: flex;
    justify-content: end;
    align-items: end;

    margin: 5px 10px;
}

#bottom-nav-top,
#bottom-nav-list{
    background-color: white;
    border: 0.05px solid black;
    border-radius: 8px;
    
    width: 50px;
    height: 28px;

    margin: 0 2px;
}

#bottom-nav-top > a,
#bottom-nav-list > a{
    text-decoration: none;
    color: black;
}

#chat-icon{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
