* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 0.5px solid darkblue; */
}

.container{
    width: 100vw;
    height: 100vh;
}


/* nav */

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 80px;
}

.logo > a > img {
    height: 65px;
}

.menu {
    background-color: #B96BC6;
    width: 90vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    height: 80px;
    color: white;
    position: sticky;
    right: 0;
    min-width: 1000px;
}

.menu > div {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: white;
    display: flex;
}


/* main */

main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.leftmenu{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 16%;
    font-size: 20px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;

    width: 68%;
    height: 100%;
}

.right{
    width: 16%;
    height: 100%;
}


/* main - leftmenu */

.leftmenu {
    margin-top: 180px;
}

.leftmenu > a {
    margin-bottom: 40px;
}


/* main - content */

.menutitle{
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    font-weight: bold;

    height: 10%;
    padding-top: 18px;
}


/* main - content - main-content */
.main-content{
    display: flex;
    flex-basis: 100%;
    padding: 30px 0;
}

.main-content-left, .main-content-right{
    flex-basis: 27%;
}

.main-content-main{
    flex-basis: 46%;

    display: flex;
    flex-direction: column;
}


/********************/
#content-title{
    flex-basis: 6%;
    margin: 5px;
    padding: 5px;
    border: 0.5px solid #CECECE;
    border-radius: 10px;
}

#content-option{
    flex-basis: 5%;
    margin: 5px;
    padding: 5px;
}

#content-text{
    flex-basis: 79%;
    margin: 5px;
    padding: 5px;
    border: 0.5px solid #CECECE;
    border-radius: 10px;
}

#content-modifybutton{
    flex-basis: 10%;
    margin: 5px;
    padding: 5px;
}

/* main - content - main-content - content-title */
#content-title{
    font-size: 15px;
    padding: 5px 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main - content - main-content - content-option */
#content-option{
    display: flex;
}

#content-option > *{
    height: 35px;
    width: 80px;
	margin: 0 10px;
    padding: 8px 10px;

	background-color: rgba(217, 217, 217, 0.44);
    border-radius: 5px;
    border: none;

    font-size: 13px;
    cursor: pointer;
    text-align: center;
}

#imageInput{ display: none;}

/* main - content - main-content - content-text */
#content-text{
    font-size: 15px;
    padding: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* main - content - main-content - content-modifybutton */
#content-modifybutton{
    display: flex;
    align-items: center;
    justify-content: center;
}

#registerButton{
    margin: 0 10px; 
    background-color: rgba(48, 68, 174, 0.5);

    width: 80px;
    height: 35px;

    border: none;
    border-radius: 10px;    
}

#cancelButton{
    margin: 0 10px;
    background-color: rgba(217, 217, 217, 0.44);

    width: 80px;
    height: 35px;

    border: none;
    border-radius: 10px;    
}

/* main-content-right */
.right{
    display: flex;
    justify-content: end;
    align-items: end;

    margin: 5px 10px;
}

#bottom-nav-top,
#bottom-nav-list{
    background-color: white;
    border: 0.05px solid black;
    border-radius: 8px;
    
    width: 50px;
    height: 28px;

    margin: 0 2px;
}

#bottom-nav-top > a,
#bottom-nav-list > a{
    text-decoration: none;
    color: black;
}

#chat-icon{
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
