* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/* nav */

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 80px;
}

.logo > a > img {
    height: 65px;
}

.menu {
    width: 90vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    height: 80px;
    color: black;
    position: sticky;
    right: 0;
    min-width: 1000px;
}

.menu > div {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: white;
    display: flex;
}

/* mainsearch */

.mainsearch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B96BC6;
    height: 428px;
}

.mainsearch > p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: white;
    font-weight: 900;
    font-size: 50px;
}

.search-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.search-form{
    margin-top: 100px;
    display: flex;
}

.fa-magnifying-glass {
    background-color: white;
    width: 70px;
    height: 50px;
    border: none;
}

.searchbox {
    width: 600px;
    height: 50px;
    border: none;
    outline: none;
}

.banner {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

#bannerad {
    width: 900px;
    display: flex;
    justify-content: start;
}

/* content */
.content{
    height: 493px;
    display: flex;

    margin-top: 40px;
}

.content-left, .content-right{
    flex-basis: 20%;
}

.content-center{
    flex-basis: 60%;
    background-color: #F1F5FF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-center-top{
    display: flex;
    justify-content: center;
    align-items: start;
}

#content1, #content2, #content3{
    margin: 0 60px 20px 60px;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

#content1 > div, 
#content2 > div, 
#content3 > div{
    margin-bottom: 20px;
}

#text-container{
    display: flex;
    text-align: center;
}

#content1 > div:nth-child(2),
#content2 > div:nth-child(2),
#content3 > div:nth-child(2){
    font-size: 16px;
    font-weight: bold;
}

#content1 > div:nth-child(3),
#content2 > div:nth-child(3),
#content3 > div:nth-child(3){
    font-size: 16px;
}

#view-more{
    width: 150px;
    height: 40px;
    color: #4080FA;
    border: 0.2px solid #4080FA;
    background-color: white;
    border-radius: 10px;
}


/* bottom */
.bottom{
    margin-top: 40px;
    height: 186px;
    background-color: black;

    display: flex;
}

.bottom{
    color: white;
    font-size: 10px;
}

.bottom-left, .bottom-right{
    flex-basis: 20%;
}

.bottom-center{
    flex-basis: 60%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.bottom-center > div:first-child{
    margin-top: 30px;
    margin-bottom: 40px;
}

.bottom-center > div:nth-child(2){
    margin-top: 20px;
    line-height: 2;
}


/* main-right */
.right{
    display: flex;
    justify-content: end;
    align-items: end;

    position: fixed;
    right: 5px; bottom: 10px;
}


#chattingicon{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0px;
    bottom: 0px;
}

