* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

.container{
    width: 100vw;
    height: 100vh;
}

/* nav */

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 80px;
}

.logo > a > img {
    height: 65px;
}

.menu {
    background-color: #B96BC6;
    width: 90vw;
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    height: 80px;
    color: white;
    position: sticky;
    right: 0;
    min-width: 1000px;
}

.menu > div {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: white;
    display: flex;
}

/* main */

main {
    display: flex;
    flex-direction: row;
    height: 90%;
}

.leftmenu{
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 16%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.leftmenu > div:first-child {
    margin-top: 180px;
}

.leftmenu > div {
    margin-bottom: 40px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 68%;
}

.mainpart{
    display: flex;
}

.mainpart > div {
    display: flex;   
    justify-content: center;
    align-items: center;
}

.rightmenu {
    width: 16%;
}

.content > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

#btnbox {
    color: white;
    background-color: #AC47FC;
    width: 140px;
    height: 60px;
    border: none; 
    margin-top: 30px;
    margin-bottom: 80px;
    font-size: 17px;
}

.content > div {
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.infobox{
    display: flex;
    align-items: center;
    height: 35px;
    width: 150px;
    border: 1px solid black;
    background-color: pink;
}

#textbox {
    width: 400px;
    height: 35px;
}

#underline {
    margin-left: 10px;
    width: 300px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 1px;
}


.profile-btn-area > button {
	width: 30%;
    height: 70%;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}


.myInfo-row > input{
    width: 70%;
    height: 100%;

    padding : 15px 10px 5px;
    font-size: 16px;
    font-weight: bold;

    border : none;
    outline: none;
    margin-left: 20px;
    margin-bottom: 8px;
}

/* input 태그를 감싸고 있는 div 태그 */
.myInfoUpdate-input-area{
    width: 350px;
    height: 50px;

    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;

    display: flex;
    align-items: center;
}

.myInfoUpdate-input-area > input{
    width: 70%;
    height: 100%;

    padding : 15px 10px 5px;
    font-size: 16px;
    font-weight: bold;

    border : none;
    outline: none;
}

.myInfoUpdate-input-area > button{
    width: 30%;
    height: 70%;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}


/* :focus-within : 내부 input 요소에 포커스가 맞춰졌을 때 */
.myInfoUpdate-input-area:focus-within{
    border-bottom-color: #ff80ff;
}


/* 입력 관련 메세지 */
.myInfoUpdate-message{
    font-size: 14px;
    letter-spacing: -1px;
}

/* 메세지 색상 지정 */
.confirm{ color : green; }
.error{ color : red; }

#btnbox {
	margin-top: 60px;
}


#profileImage {
	width: 100px;
}

#deleteImage {
	cursor: pointer;
}


