* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

a {
	color: inherit; 
    text-decoration: none;
}

.logo {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 80px;
    
}


.logo > a > img {
    height: 65px;
}

.menu {
    background-color: #B96BC6;
    width: 90vw;
    
    display: flex;
    justify-content: right;
    align-items: center;
    font-weight: 800;
    font-size: 22px;
    height: 80px;
    color: white;
    position: sticky;
    right: 0;
    min-width: 1000px;
}

.menu > div {
    margin-left: 40px;
    margin-right: 40px;
}

nav {
    background-color: white;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
}


/*3분할*/

#main-container {
    display: flex;
    height: 100%;
}

#main-mid {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    
}

#main-left {
    width: 18.75%;
    
}

#main-right {
    width: 18.75%;
}

.mid-favorite-container {
    width: 299px;
    height : 280px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin: 0px;
}

.mid-img-container {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.mid-img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.value {
    font-size: 20px;
    font-weight: bolder;
}

#center-text {
		margin-top: 100px;
		width: 100%;
		display: flex;
   		justify-content: center;
        text-align: center;
        align-items: center;
    }