<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">

	<!-- Board DTO에 대한 resultMap -->
	<resultMap type="Board" id="board_rm">
	
		<id property="boardNo" column="BOARD_NO"/>
		<result property="memberNo" column="MEMBER_NO" />
		<result property="managerNo" column="MANAGER_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="boardContent" column="BOARD_CONTENT" />
		<result property="boardDate" column="BOARD_DATE" />
		<result property="memberNickname" column="MEMBER_NICKNAME" />
		<result property="boardCount" column="BOARD_COUNT" />
		<result property="boardHide" column="BOARD_HIDE" />
		
		<result property="boardVideoUrl" column="BOARD_VIDEO_URL" />
	</resultMap>

	<!-- BoardImage resultMap -->
	<resultMap type="BoardImage" id="boardImage_rm">
		<id property="imageNo" column="IMG_NO"/>
		
		<result property="imagePath" column="IMG_PATH"/>
		<result property="imageReName" column="IMG_RENAME"/>
		<result property="imageOriginal" column="IMG_ORIGINAL"/>
		<result property="imageOrder" column="IMG_ORDER"/>
		<result property="boardNo" column="BOARD_NO"/>
	</resultMap>


	<!-- 삭제되지않은 게시글 수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
		WHERE BOARD_HIDE = 'N'
	</select>
	
	<!-- [CDATA[]] : 해당 태그 내부에 작성된 것은 모두 문자로 취급해준다 -->
	<!-- 현재 페이지에 해당하는 부분에 대한 게시글 목록 조회 -->
	<select id="selectBoardList" resultMap="board_rm">
		SELECT BOARD_NO, BOARD_TITLE, m.MEMBER_NICKNAME, BOARD_COUNT, 
		TO_CHAR(BOARD_DATE, 'YYYY/MM/DD') AS "BOARD_DATE"
		FROM BOARD
		JOIN "MEMBER" m  USING(MEMBER_NO)
		WHERE BOARD_HIDE = 'N'
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="selectBoardDetail" resultMap="board_rm">
		SELECT BOARD_NO, MEMBER_NO, MEMBER_NICKNAME, 
				TO_CHAR(BOARD_DATE, 'YYYY/MM/DD') AS "BOARD_DATE", 
				BOARD_COUNT, BOARD_TITLE, BOARD_CONTENT
		FROM BOARD
		WHERE BOARD_HIDE = 'N'
		AND BOARD_NO = #{boardNo}
	</select>
	
	<select id="selectPrevNextBoardNo" resultType="map">
		SELECT BOARD_NO, BOARD_TITLE
		FROM BOARD
		WHERE BOARD_NO = #{boardNo} - 1
		UNION ALL
		SELECT BOARD_NO, BOARD_TITLE
		FROM BOARD
		WHERE BOARD_NO = #{boardNo} + 1
	</select>
	
	<update id="updateReadCount">
		UPDATE BOARD SET 
		BOARD_COUNT = BOARD_COUNT + 1
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	
	
	
	<!--  board2  -->
	
	<!-- 게시글 삽입 -->
	<insert id="boardInsert" parameterType="Board" useGeneratedKeys="true">
		<selectKey order="BEFORE" resultType="_int" keyProperty="boardNo">
			SELECT SEQ_BOARD_NO.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO "BOARD"
			VALUES ( #{boardNo},
					#{memberNo},
					DEFAULT,
					#{boardTitle},
					#{boardContent},
					DEFAULT,
					#{memberNickname},
					DEFAULT, DEFAULT )
	</insert>
	
	<!-- 이미지 삽입 -->
	<insert id="insertImage">
		INSERT INTO "BOARD_IMG"
		VALUES( SEQ_IMG_NO.NEXTVAL,
				#{imagePath},
				#{imageReName},
				#{imageOriginal},
				#{imageOrder},
				#{boardNo} )
	</insert>
	
	
</mapper>