<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapMapper">
  
  <resultMap type="Product" id="product_rm">
  	
  	<id property="productNo" column="PRODUCT_NO"/>
  	  	
	<result property="memberNo" column="MEMBER_NO" />
    <result property="productAddress" column="PRODUCT_ADDRESS" />
    <result property="productAddressHo" column="PRODUCT_ADDRESS_HO" />
    <result property="productTitle" column="PRODUCT_TITLE" />
    <result property="productContent" column="PRODUCT_CONTENT" />
    <result property="roomType" column="ROOM_TYPE" />
    <result property="roomSize" column="ROOM_SIZE" />
    <result property="productDeposit" column="PRODUCT_DEPOSIT" />
    <result property="productMonthlyRent" column="PRODUCT_MONTHLY_RENT" />
    <result property="productRentType" column="PRODUCT_RENTTYPE" />
    <result property="productMaintenace" column="PRODUCT_MAINTENACE" />
    <result property="enterDate" column="ENTER_DATE" />
    <result property="enterDateNego" column="ENTER_DATE_NEGO" />
    <result property="heatType" column="HEAT_TYPE" />
    <result property="parking" column="PARKING" />
    <result property="airCon" column="AIR_CON" />
    <result property="fridge" column="FRIDGE" />
    <result property="washer" column="WASHER" />
    <result property="cctv" column="CCTV" />
    <result property="doorlock" column="DOORLOCK" />
    <result property="stove" column="STOVE" />
    <result property="microwave" column="MICROWAVE" />
    <result property="elevator" column="ELEVATOR" />
    <result property="registrastionDate" column="REGISTRASTION_DATE" />
    <result property="productHide" column="PRODUCT_HIDE" />
</resultMap>


<select id="selectAllProduct" resultMap="product_rm">
	SELECT *
	FROM PRODUCT
	WHERE PRODUCT_HIDE = 'N'
</select>


<select id="conditionSearch" resultMap="product_rm">
	SELECT *
	FROM PRODUCT
	WHERE PRODUCT_HIDE = 'N'
	<choose>
		<when test="roomType == '원룸'">
		AND ROOM_TYPE = #{roomType}
		</when>
		<when test="roomType == '투룸'">
		AND ROOM_TYPE = #{roomType}
		</when>
		<otherwise>
		AND (ROOM_TYPE = '원룸' OR ROOM_TYPE= '투룸')
		</otherwise>
	</choose>
	<choose>
		<when test="productRentType == '전세'">
			AND PRODUCT_RENTTYPE = #{productRentType}
			
			<if test="productDeposit !=null">
				<![CDATA[
					AND PRODUCT_DEPOSIT <= #{productDeposit}
				]]>
			</if>
		</when>
		<when test="productRentType == '월세'">
			AND PRODUCT_RENTTYPE = #{productRentType}
			<if test="productDeposit !=null">
				<![CDATA[
				AND PRODUCT_DEPOSIT <= #{productDeposit}
				]]>
			</if>
			<if test="productMonthlyRent != null">
				<![CDATA[
	        	AND PRODUCT_MONTHLY_RENT <= #{productMonthlyRent}
	        	]]>
    		</if>
		</when>
		<otherwise>
		AND (PRODUCT_RENTTYPE = '전세' OR PRODUCT_RENTTYPE = '월세')
		</otherwise>
	</choose>
</select>




  	
  
  
  
  
</mapper>
